In [65]:
import csv
import pandas as pd
#songs_file = "/lyrics/songdata.csv"

In [66]:
dati = pd.read_csv('songdata.csv',sep = ',', header = 0)
dati.head() #header=0 per mettere la prima riga del csv come intestazione

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [79]:
dati2=dati
dati2.head() #copy .... cosi se lavoriamo e sbagliamo su questo possiamo sempre recuperare da dati

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [80]:
dati2=dati2.drop(['link'],axis=1) #dropping link column
dati2.head()

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante","Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,I'll never know why I had to go \nWhy I had t...
3,ABBA,Bang,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...

In [83]:
dati2.columns = ['Artist','Song','Lyrics']
dati2.head()

,Artist,Song,Lyrics
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante","Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,I'll never know why I had to go \nWhy I had t...
3,ABBA,Bang,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...

In [28]:
dati2.isnull().head() #everywhere valid data.

   artist   song   text
0   False  False  False
1   False  False  False
2   False  False  False
3   False  False  False
4   False  False  False

In [53]:
dati2.columns

Index(['artist', 'song', 'text'], dtype='object')

In [85]:
print(dati2['Artist'][0])
print(dati2['Song'][0])
print(dati2['Lyrics'][0]) #stampare in questo modo elimina i \n all'inizio di frase

ABBA
Ahe's My Kind Of Girl
Look at her face, it's a wonderful face
And it means something special to me
Look at the way that she smiles when she sees me
How lucky can one fellow be?

She's just my kind of girl, she makes me feel fine
Who could ever believe that she could be mine?
She's just my kind of girl, without her I'm blue
And if she ever leaves me what could I do, what could I do?

And when we go for a walk in the park
And she holds me and squeezes my hand
We'll go on walking for hours and talking
About all the things that we plan

She's just my kind of girl, she makes me feel fine
Who could ever believe that she could be mine?
She's just my kind of girl, without her I'm blue
And if she ever leaves me what could I do, what could I do?